html {
    background-color: #F1F5FC;
}

body {
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    color:#002360;
    text-align: center;
}

.information {
    text-align: center; 
}

.information h2 {
    padding-top: 180px;
    font-weight: bolder;
    font-size: 40px;
}

.information p{
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    line-height: 2;
    max-width: 60%; 
    margin: 0 auto;
}


.button {
    background-color: #0660FE; 
    color: white; 
    padding-top: 5%;
    padding: 15px 80px; 
    border-radius: 8px; 
    cursor: pointer; 
    display: inline-block; 
    margin-top: 40px; 
    text-decoration-line: none;
    }
